@import url('./common.css');
@import url('./layout.css');

body{
    position: relative;
}
.box{
    position: absolute;
    top:90px;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    padding:20px;
    background: #ddd;
}
.tabs{
    list-style: none;
    overflow: hidden;
    margin:0;
    padding:0;
}

.tabs-item{
    float:left;
    text-align: center;
    border:1px solid #ccc;
    font-size:13px;
    padding:10px;
    box-sizing: border-box;
    cursor: pointer;
    width:50%;
    background: #fff;
}
.tabs-item.active{
    color:blue;
}
.tabs-item:nth-child(2){
    border-left:none;
}
.info{
    display: inline-block;
    width:80px;
    font-size:13px;
    color:#333;
}