{
    "presets":["next/babel"],
    "plugins": [
        "transform-decorators-legacy",
        [
          "import",
          {
            "libraryName": "antd",
            "style": true
          }
        ],
        ["css-modules-transform", {
          "extensions": [".css"]
        }]
    ]
}